* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --BinanceColor: rgb(240, 185, 11);
}

img {
  width: 100%;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  /* align-items: center;
  align-content: center; */
}
